body {
  background-color: #264653;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fc4445;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h1 {
  text-align: center;
  color: rgb(232, 219, 189);
  font-family: 'Oswald';
  text-shadow: 2px 2px black;
  font-size: 50px;
}
h2 {
  font-size: 27px;
  text-align: center;
  color:rgb(232, 219, 189);

}
table {
  text-align: center;
}
th {
  color: #fc4445;
  font-size: 50px;
}
td {
  color: #cafafe;
  font-size: 30px;
}
img {
  width: 75px;
  height: 75px;
}

.contacts{
  margin: auto;
   width: 40%;
   padding: 10px;
   border: solid;
    border-color: #2a9d8f;
    border-radius: 10%;
}
.green {
  color: green;
}
.movies {
  width: 250px;
  height: 350px;
}
.map {
  margin: auto;
   width: 40%;
}
